@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --cor1: #fa9934;
    --cor2: #fbb24c;
    --cor3: #fdcb65;
    --cor4: #fee47d;
    --cor5: #fffd95;

    --fonte-padra: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #fffeae80
}

header{
    background-color: var(--cor1);
    margin: auto;
    padding-top: 40px;
    padding-bottom: 3px;
    font-family: var(--fonte-destaque);
    text-align: center;
}

header > h1{
    font-size: 3em;
}

nav{
    margin-top: 29px;
    margin-bottom: 10px;
    text-align: left;
}

nav > a{
    font-family: var(--fonte-padra);
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav > a:hover{
    background-color: var(--cor5);
    color: var(--cor2);
}

main{
    background-color: white;
    box-shadow: 1px 1px 10px rgba(85, 85, 85, 0.5);
    min-width: 280px;
    max-width: 800px;
    margin: auto;
    padding: 28px 20px 20px 20px;
    border: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

main img{
    width: 100%;
}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

main li{
    text-align: center;
}

main h1{
    font-family: var(--fonte-destaque);
    text-align: center; 
    padding: 10px;
    border-radius: 10px;
}
main h2{
    font-family: var(--fonte-destaque);
    text-align: center;    
}

main h3{
    font-family: var(--fonte-destaque);
    text-align: center;
}

main h4{
    font-family: var(--fonte-destaque);
}

main p{
    margin: 15px 0px;
    font-family: var(--fonte-padra);
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
}

div.video{
    margin-top: 10px;
    margin-bottom: 15px;
    padding-bottom: 50%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

footer{
    margin: 10px 0px 0px 0px;
    padding: 10px;
    background-color: var(--cor2);
}

footer > p{
    background-color: var(--cor2);
    text-align: center;
}

div#marcos{
    background-color: var(--cor2);
    text-align: center;
}

